@charset "utf-8";

body{
  background-color : #D0E0C0;
}

#ingredient{
  border:2px solid lightcoral;
  border-collapse:collapse;
}

th{
  border:1px solid lightcoral;
  background-color:yellow;
  padding:5px;
  width : 100px;
  text-align:center;
}

td{
  border:1px solid lightcoral;
  padding:5px;
  width:80px;
  text-align:right;
}
