@charset "utf-8";

body{
  background-color : #FFFFFF;
}

caption{
  padding:5px;
}

#price{
  background-color:lightyellow;
}

thead th, tfoot th{
  background-color :white;
}

thead td{
  color : black;
  background-color:yellow;
  text-align:center;
}

tfoot td{
  font-weight:bold;
  background-color:white;
}
